
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: light gray; 
  padding: 10px 20px;
}

.nav .menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  width: 70%;
  text-decoration: none;
}


 .logo {
  width: 20% ;
 }
 
  .signup {
    width: 10% ; 
    align-items: center ;
    display: flex ;
      justify-content: center ;
  } 



