
p{
    color: red;
    background-color: rgb(126, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    margin: auto;
    justify-content: center;
    height: 50px;
    width: 100%;
    
}


#shiv{
    color: blue;
    background-color: rgb(126, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    margin: auto;
    height: 50px;
    width: 100%;
}

.shiva{
    color: green;
    background-color: rgb(126, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    margin: auto;
    height: 50px;
    width: 100%;
}