
p{
    color: red;
    background-color: rgb(126, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    margin: auto;
    
    
}


#shiv{
    color: blue;
    background-color: rgb(126, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    margin: auto;
    height: 50px;
    width: 100%;
}

.shiva{
    color: green;
    background-color: rgb(126, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    margin: auto;
    height: 50px;
    width: 100%;
}

#ser{ 
    width: 500px;
    height: 500px;   
   text-align: center;
   background-color: rgb(17, 164, 162);
   border: 2px solid black;
    border-radius: 10px;
}


#sur{
    width: 500px;
    height: 50px;   
   text-align: center;
   background-color: rgb(126, 73, 73);
   border: 2px solid black;
    border-radius: 10px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(126, 73, 73);
    border: 2px solid black;
    border-radius: 10px;
}


.box1{
    width: 50%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 2px solid black;
    border-radius: 10px;

}
.chid{
    width: 100px;
    height: 100px;
    background-color: rgb(17, 164, 162);
    justify-content: center;
    align-items: center;

}